.container {
  display: flex;
  padding: 4rem 0 0 4rem;
  .service {
    width: 30%;
  }
  .businessCards {
    width: 100%;
  }
}

.title {
  padding: 4rem 0 0 4rem;
  color: #8056eb;
  font-size: 1.4rem;
  //   margin-bottom: 2rem;
}
