.titleContainer {
  text-align: center;
  padding: 4rem;
  .title {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 3.5rem;
    line-height: 5rem;
    span {
      color: #8056eb;
    }
  }
  .subtitle {
    color: #a8a8a8;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .searchField {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    gap: 1em;
    width: 30%;
    margin: 0 auto;
    input[type="text"] {
      transition: box-shadow 0.1s ease-in, border 0.1s ease-in,
        background-color 0.1s ease-in;
      color: #0e0e10;
      padding: 0.9em;
      font-size: 1rem;
      border: 2px solid #dee1e2;
      border-radius: 30px;
      width: 100%;
    }
    .searchIcon {
      background-color: #8056eb;
      cursor: pointer;
      padding: 1.2em;
      border-radius: 50%;
    }
  }
}
